
<header>
  <div class="sidebar">
    <header>HAN</header>
    <nav>
      <ul>
        <li><a href="#" class="fas fa-qrcode" routerLink="/home">     home     </a></li>
        <li><a href="#" class="fas fa-qrcode" routerLink="/organ">    organization    </a></li>
        <li><a href="#" class="fas fa-qrcode" routerLink="/creat">    create organization     </a></li>
        <li><a href="#" class="fas fa-qrcode" routerLink="/">     disconnect    </a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="left">
  <h1 class="text-center text-primary">Add new Organization/Team</h1>
  <form>
    <div class="form-group">
      <label htmlFor="org-name">Organization/Team name:</label>
      <input
        type="text"
        [(ngModel)]="newOrgName"
        class="form-control"
        id="org-name"
        name="newOrgName"
      />
    </div>
    <div class="form-group">
      <label htmlFor="org-description">Description: </label>
      <textarea
        class="form-control"
        id="org-description"
        [(ngModel)]="newOrgDescription"
        rows="3"
        name="newOrgDescription"
      ></textarea>
      <!-- <p *ngIf="newOrgName.length > 0">
        {{ newOrgName }}
      </p>
      <p *ngIf="newOrgDescription.length > 0">
        {{ newOrgDescription }}
      </p> -->
    </div>

    <button  class="btn btn-primary green" (click)="postNewOrg()">Create Organization/Team</button>
  </form>
  <button  class="btn btn-primary" routerLink="/project">Projects</button>
  <button  class="btn btn-primary green" routerLink="/createP">creat Project</button>
</div>
