*{
    padding: 0px;
    margin: 0px;
    font-family: poppins , sans-serif ;
    font-weight: 700;
    box-sizing: border-box;
}

header{
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

header #logo{
    font-style: italic;
    font-size: 20px;
}
header #logo span{
    color: #564FCC;
}
header nav{
    color: #000;
}

header nav a{
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color:black;
}
header nav a:last-child {
color: white;
background: #6C63FF;
padding: 10px 20px;
margin-left: 30px;
border-radius: 30px;
}
header nav a:hover{
    opacity: 0.9;
}

