
<header>
    <div class="sidebar">
        <div id="logo">
            <h3><span>HAN</span> Maneger</h3>
        </div>
      <nav>
         <a href="#"  routerLink="/login">     login     </a>
         <a href="#" routerLink="/signup">    sign up    </a>
      </nav>
    </div>
  </header>

  <div id="container">
      <div id="content-container">
          <h1>Task Maneger Website</h1>
          <p>When you're in a full productivity mode, it's hard to keep track of a task if you don't know how much time you spend on it</p>
             <button  class="btn btn-primary" routerLink="/login">Star Now</button>
        </div>
  </div>
