<header>
  <div class="container">
    <a href="#" class="logo">app-logo</a>
    <nav>
      <ul class="nav justify-content-center">
        <li><a href="#" routerLink="/home">     home     </a></li>
        <li><a href="#" routerLink="/organ">    organization    </a></li>
        <li><a href="#" routerLink="/creat">    create organization     </a></li>
        <li><a href="#" routerLink="/project">     projects     </a></li>
        <li><a href="#" routerLink="/createP">     create project    </a></li>
        <li><a href="#" routerLink="/">     disconnect    </a></li>
      </ul>
    </nav>
  </div>
</header>
<div>
  <h1 class="h3 mb-4 text-gray-800">Projects List:</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All projects</h6>
    </div>

    <label htmlFor="org-name">Organization/Team:</label>

    <select
      class="form-control form-control-lg"
      [(ngModel)]="orgName"
    >
      <option *ngFor="let organization of organizationData">
        {{ organization.name }}
      </option>
    </select>

    <div class="card-body">
      <ul class="list-group" *ngFor="let project of projectData">
        <li class="list-group-item">
          {{ this.project?.name }}
          {{ this.project?.description }}
        </li>
        <button (click)="newProjectId(this.project.name) ; issFeatFunc()">Features/Issues</button>
        <button (click)="newProjectId(this.project.name) ; featuresFunc()">Add Features</button>
        <button (click)="newProjectId(this.project.name) ; issuesFunc()">Add Issues</button>
      </ul>
    </div>
    <button (click)="getOrgId()">comfirm</button>
  </div>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">All projects</h6>
    </div>
  
    <label htmlFor="org-name">Other Organization:</label>
  
    <select class="form-control form-control-lg" [(ngModel)]="otherOrgName">
      <option *ngFor="let otherOrganization of otherOrg" >
      {{otherOrganization.name}}
      </option>
    </select>
  
    <div class="card-body">
      <ul class="list-group" *ngFor="let project of otherProjectData">
        <li class="list-group-item">
          {{this.project?.name}} 
          {{this.project?.description}}
        </li>
      <button (click)="newProjectId(this.project.name) ; issFeatFunc()">Features/Issues</button>
      </ul>
    </div>
    <button (click)="getOtherOrgId()">comfirm</button>
  </div>
</div>



