<header>
  <div class="container">
    <a href="#" class="logo">app-logo</a>
    <nav>
      <ul class="nav justify-content-center">
        <li><a href="#" routerLink="/home">     home     </a></li>
        <li><a href="#" routerLink="/organ">    organization    </a></li>
        <li><a href="#" routerLink="/creat">    create organization     </a></li>
        <li><a href="#" routerLink="/project">     projects     </a></li>
        <li><a href="#" routerLink="/createP">     create project    </a></li>
        <li><a href="#" routerLink="/">     disconnect    </a></li>

      </ul>
    </nav>
  </div>
</header>
<div>
  <h1 class="h3 mb-4 text-gray-800">Organizations List:</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">My organizations/Teams</h6>
    </div>
    <div class="card-body">
      <ul class="list-group" *ngFor="let organization of organizationData">
        <li class="list-group-item">
          {{ this.organization?.name }}
          {{ this.organization?.description }}
        </li>
      </ul>
    </div>
  </div>
</div>
