
<header>
  <div class="sidebar">
    <header>HAN</header>
    <nav>
      <ul>
        <li><a href="#" class="fas fa-qrcode" routerLink="/home">     home     </a></li>
        <li><a href="#" class="fas fa-qrcode" routerLink="/organ">    organization    </a></li>
        <li><a href="#" class="fas fa-qrcode" routerLink="/creat">    create organization     </a></li>
        <li><a href="#" class="fas fa-qrcode" routerLink="/">     disconnect    </a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="left">
  <h1  class="text-center text-primary">Organizations List:</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">My organizations/Teams</h6>
    </div>
    <div class="card-body">
      <ul class="list-group" *ngFor="let organization of organizationData">
        <li class="list-group-item">
          {{ this.organization?.name }}
          {{ this.organization?.description }}

          <select [(ngModel)]="userName">
            <option *ngFor="let user of usernames">
              {{ this.user?.username }}
            </option>
          </select>
          <button  class="btn btn-primary" (click)="AddNewUser(this.organization.id)">Add</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="left">
  <h1  class="text-center text-primary">Other Organizations List:</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Other organizations/Teams</h6>
    </div>
    <div class="card-body">
      <ul class="list-group" *ngFor="let organization of otherUserOrg">
        <li class="list-group-item">
          {{ this.organization?.name }}
          {{ this.organization?.description }}
        </li>
      </ul>
    </div>
  </div>
  <button  class="btn btn-primary" (click)="otherUser()">your invitations</button>
  <button  class="btn btn-primary" routerLink="/project">Projects</button>
  <button  class="btn btn-primary green" routerLink="/createP">creat Project</button>
</div>

