<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<div class="container login">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">forget password</h1>
      <div>
        <input #username type="text" class="form-control input" name="username" placeholder="username"/>
        <input #secretinfo type="text" class="form-control input" name="secretinfo" placeholder="secret info"/>
        <input
          #newPassword
          type="text"
          class="form-control input"
          name="newPassword"
          placeholder="new Password" />
      </div>
    </div>
  </form>
  <button class="log"
    (click)="
      collectRecovery(username.value, newPassword.value, secretinfo.value)
    "
  >
    change password
  </button>
  <p>oups i remember<a href="#" routerLink = "/login">login</a></p>
</div>