<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<div class="container">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">🤣forget password🤣</h1>
      <div>
        <span class="input-group-text">username</span>
        <input #username type="text" class="form-control" name="username" />
        <span class="input-group-text">secretinfo</span>
        <input #secretinfo type="text" class="form-control" name="secretinfo" />
        <span class="input-group-text">newPassword</span>
        <input
          #newPassword
          type="text"
          class="form-control"
          name="newPassword"
        />
      </div>
    </div>
  </form>
  <button
    (click)="
      collectRecovery(username.value, newPassword.value, secretinfo.value)
    "
  >
    change password
  </button>
  <p>oups i remember<a href="#" routerLink = "/">login</a></p>
</div>