<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<div class="container login">
  <form>
    <div class="form-group">
      <h1 class="text-center text-primary">signUp page</h1>
      <div>        
        <input #username type="text" class="form-control input" name="username" placeholder="username"/>     
        <input #fullname type="text" class="form-control input" name="fullname" placeholder="fullname"/>
        <input #secretinfo type="text" class="form-control input" name="secretinfo" placeholder="secret info"/>
        <input #password type="password" class="form-control input" name="password" placeholder="password"/>
        <input type="password" #reppassword class="form-control input" name="password" placeholder="repeat password" />
      </div>
    </div>
  </form>
  <button class="log"
    (click)="
      collect(username.value, fullname.value, secretinfo.value, password.value, reppassword.value)
    "
  >
    submit
  </button>
  <p>if you already have acount <a href="#" routerLink = "/login">login</a></p>
</div>

