

<header>
    <div class="container">
      <a href="#" class="logo">app-logo</a>
      <nav>
        <ul class="nav justify-content-center">
          <li><a href="#" routerLink="/home">     home     </a></li>
          <li><a href="#" routerLink="/organ">    organization    </a></li>
          <li><a href="#" routerLink="/creat">    create organization     </a></li>
          <li><a href="#" routerLink="/project">     projects     </a></li>
          <li><a href="#" routerLink="/createP">     create project    </a></li>
          <li><a href="#" routerLink="/">     disconnect    </a></li>

        </ul>
      </nav>
    </div>
  </header>

