
<header>
  <div class="sidebar">
    <header>HAN</header>
    <nav>
      <ul>
        <li><a href="#" class="fas fa-qrcode" routerLink="/home">     home     </a></li>
        <li><a href="#" class="fas fa-qrcode" routerLink="/organ">    organization    </a></li>
        <li><a href="#" class="fas fa-qrcode" routerLink="/creat">    create organization     </a></li>
        <li><a href="#" class="fas fa-qrcode" routerLink="/">     disconnect    </a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="left">
  <h1 class="text-center text-primary">Add new Project</h1>
  <form>
    <div class="form-group">
      <label htmlFor="org-name">Organization/Team:</label>

      <select
        class="form-control form-control-lg"
        name="orgId"
        [(ngModel)]="orgName"
      >
        <option *ngFor="let organization of organizationData">
          {{ organization.name }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label htmlFor="org-name">Project name:</label>
      <input
        type="text"
        [(ngModel)]="newOrgProjectName"
        class="form-control"
        id="org-name"
        name="newOrgProjectName"
        aria-describedby="organization-name"
      />
    </div>
    <div class="form-group">
      <label htmlFor="org-description">Description: </label>
      <textarea
        class="form-control"
        id="org-description"
        [(ngModel)]="newOrgProjectDescription"
        rows="3"
        name="newOrgProjectDescription"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary green" (click)="postNewOrgProject()">
      Create Project
    </button>
  </form>
  <button  class="btn btn-primary" routerLink="/project">projects</button>

</div>
